/Temp
/build
/Library
/obj
/.vs/InsideStars/FileContentIndex/5d41b933-4b05-4cc2-b301-3214eb8c1b28.vsidx
/.vs/InsideStars/FileContentIndex/778edb13-e632-4b6a-8d6e-b5830fa70e02.vsidx
/.vs/InsideStars/FileContentIndex/da52abf3-90ca-4513-8097-e3ac2f99bba2.vsidx
/.vs/InsideStars/v16/.suo
/.vs/InsideStars/v17/.suo
/.vs/InsideStars/FileContentIndex/*.vsidx
